html, body, span, p, form, img, a, ul, ol, li, table, tr, td, div {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style-type: none;
}
.empty {
  border: 1px solid red !important;
}
.areaTable {
  margin-top: 2rem;

}
#tableNotice{
  height: 10vh !important;
  overflow: scroll;
}

.areaTable table img {
  width: 6rem;
}
.areaTable table td i{
 padding: .5rem;
  cursor: pointer;
  color: #555;
  font-size: 1.6rem;
}
.areaTable .mailbox-controls {
  padding: 0 1rem;
}

.modal .size {
  width: 80%;
}

.modal h4, .modal h5 {
  text-align: center;
}

.modal h4 {
  font-size: 2.5rem;
  color: #17a599;
  font-weight: bolder;
}

.modal label {
  width: 100%;
  margin-top: .8rem;
}

.modal article {
  display: flex;
}

.modal article img {
  width: 10rem;
  height: 8rem;
}

.modal article section {
  width: 100%;
  margin-left: 1rem;
}

.modal .fileBT {
  margin: 0;
  width: 100%;
  padding: 6.3px;
}

.modal .btfileNotice {
  padding: 0;
}

.areaSerch {
  width: 60%;
  float: right;
  display: flex;
  justify-content: flex-end;
}

.areaSerch .date {
  width: 40%;
}

.searchDate {
  width: 50%;
  margin-left: 1rem;
}

.box-header {
  border-bottom: 1px solid #f4f4f4;
}

.modal-footer {
  border: none;
}

.modal-body {
  border-top: 1px solid #f4f4f4;
}
.box-body{
  max-height: 50rem !important;
  overflow: scroll !important;
}
.wrapper-transform{
  min-height: 630px !important;
}
.has-img{
  background: #f4f4f4;
}
.box-video{
  border: 1px solid #bbbbbb !important;
}