body {
  background: #fff;
  overflow-x: hidden;
}
*{
  font-family: "Tahoma";
}
.face{
  margin-top: -155px;
  margin-left: 15px;
  background: transparent;
  width: 200px !important;
  height: 150px;
}
.modal-content{
  padding: 0;
  /*width: 80rem !important;*/
  height: 50rem !important;
}
.content-Modal iframe{
  width: 100%;
  height: 45rem;
}
.btDown{
  background: #9cc2cb;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -2rem;
  z-index: 100;
}
.areaMultimedia > div{
  transition: all .5s;
}
.row{
  background: #fff;
}
.center{
  text-align: center;
}
.carousel-caption{
  width: 100% !important;

  left: 0 !important;
  bottom: 0 !important;
  background: rgba(0, 0, 0, .5) !important;
}
.icons {
  display: flex;
  margin: 0 2rem;
}

.icons span {
  margin: .3rem;
}

.icons span a {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0272B2;
  border-radius: 5rem;
}

.icons span a > i {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  margin: .2rem;
  padding: 1rem;
}

.menuArea {
  z-index: 10;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1) !important;
  z-index: 100;
  border-bottom: 1px solid #eee;
}

.menuArea .areaLogo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.menuArea .areaLogo .logo {
  width: 23rem;
  height: 12rem;
  min-width: 13rem;
  min-height: 8rem;
}

.menuArea .areaLogo .brazao {
  display: block;
  width: 9rem;
  height: 8rem;
  margin-left: 2rem;
}

.menuArea .content > div {
  height: 6rem;
}

.menuArea .content .areaIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.menuArea .content .menu {
  background: #fff !important;
}

.menuArea .content .menu .navbar {
  border: none;
  background: #fff;
}

.menuArea .content .menu .navbar .navbar-nav {
  background: #fff;
}

.menuArea .content .menu .navbar .navbar-nav li {
  font-size: 1.3rem;
  border-radius: 1rem;
}

.menuArea .content .menu .navbar .navbar-nav li a {
  padding: 1rem 1.5rem;
  color: #444;
}

.menuArea .content .menu .navbar .navbar-nav .active a {
  border-bottom: .3rem solid #DA9A30;
  font-weight: bold;
  background: #fff !important;
  color: #DA9A30;
}

.menuArea .content .menu .navbar .navbar-nav .active a hover {
  color: #fff !important;
}

.menuArea .content .menu .navbar .navbar-nav li a:hover {
  color: #DA9A30;
}

.menuArea .content .menu .navbar .navbar-nav .dropdown a {
  color: #444;
  border-bottom: none;
}
.areaTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.areaTitle * {
  text-align: center;
}

.areaTitle .title {
  color: #DA9A30;
  font-size: 2.8rem;
  text-transform: uppercase;
}

.areaTitle .separator {
  border-bottom: 2px solid #DA9A30;
  width: 10rem;
  padding: .3rem 1rem;
  border-radius: .3rem;
  margin-bottom: 2rem;
}

.areaTitle p {
  width: 80%;
  padding: 3rem 0;
  color: #888;
  font-size: 1.8rem;
  text-align: justify;
}

.areaTitle .BTmore {
  background: #DA9A30;
  border: none;
  color: #fff;
  padding: .3rem 1rem;
  border-radius: .3rem;
}

.areaWeelCame {
  padding: 3rem;
  background: #fff;
}
.areaWeelCame p{
  text-align: justify !important;
  width: 100% !important;
  color: #777 !important;
  font-size: 15px;
  line-height: 23px;
}
#collapseExample{
  margin-top: -5rem;
}
.areaNews {
  padding: 3rem;
  background: #eaeff2;
  -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
  margin-bottom: 0px !important;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.areaNews h1{
  -ms-transform: rotate(3deg) !important; /* IE 9 */
    -webkit-transform: rotate(3deg) !important; /* Chrome, Safari, Opera */
    transform: rotate(3deg) !important;
}
.areaNews .areaNotice {
  -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.areaNews .areaNotice > div {
  margin: 1rem 0;
}

.areaNews .areaNotice .section {
  display: flex;
  background: #fff;
  height: 20rem;
  box-shadow: 1px 2px 5px 0 #aaa;
}

.areaNews .areaNotice .section > div {
  width: 50%;
}

.areaNews .areaNotice .section .areaIMG {
  overflow: hidden;
}

.areaNews .areaNotice .section .areaIMG > img {
  width: 31.5rem;
  height: 20rem;
  margin-left: -1.5rem;
  transition: all .8s;
}

.areaNews .areaNotice .section .areaIMG .areaScale {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 31.5rem;
  height: 20rem;
  background: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .8s;
}

.areaNews .areaNotice .section .areaIMG .areaScale label {
  color: #fff;
  text-align: center;
  padding: 1rem 1.5rem;
  border: 1px solid #fff;
  border-radius: .3rem;
  cursor: pointer;
  transition: all .3s;
}

.areaNews .areaNotice .section .areaIMG .areaScale label:hover {
  border: 2px solid #fff;
}

.areaNews .areaNotice .section .areaIMG:hover .areaScale {
  opacity: 0.8;
  padding: 1rem;
  align-items: center;
}

.areaNews .areaNotice .section .areaIMG:hover img {
  transform: scale(2);
}

.areaNews .areaNotice .section .descrition {
  padding: 0 2rem;
}

.areaNews .areaNotice .section .descrition h3 {
  color: #DA9A30;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: .5rem 0;
  max-height: 4rem;
  overflow: hidden;
}

.areaNews .areaNotice .section .descrition h5 {
  font-size: 1.2rem;
}

.areaNews .areaNotice .section .descrition p {
  color: #777;
  font-size: 1.2rem;
  max-height: 7rem;
  overflow: hidden;
  text-align: justify;
  line-height: 20px;
}
.areaNews .areaNotice .section .descrition p:after{
  content: '...';
}

.areaNews .areaNotice .section .descrition .BTmore {
  background: #DA9A30;
  border: none;
  color: #fff;
  padding: .3rem .8rem;
  border-radius: .3rem;
  font-size: 1.1rem;
}

.areaLinks {
  padding: 3rem;
  height: 70rem;
  background: #fff;
}

.areaLinks .areaSections {
  text-align: center;
  padding: 0 8rem;
}
.areaLinks .areaSections > div {
  padding: 1rem;
  margin-bottom: 5rem;
  min-width: 23rem !important;
}
.areaLinks .areaSections > div > section{
  border-radius: .5rem;
  background: #fff;
  /*border: 1px solid #ddd;*/
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  cursor: pointer;
  box-shadow: -10px 5px 20px 0 rgba(13,18,232,.12);
  moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.areaLinks .areaSections > div > section:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.areaLinks .areaSections > div > section a:hover{
  text-decoration: none;
}
.areaLinks .areaSections > div > section img {
  width: 100%;
}
.footerMaster{
 /* position: fixed !important;*/
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  margin-left: 0 !important;
  background: #272822 !important;
}
.footerLinks {
  background: #272822 !important;
  height: auto;
  color: #ccc;
  padding: 2rem 1rem;
  
}
.footerLinks > div{
   background: #272822 !important;
}
.footerLinks > div h4 {
  font-weight: normal;
}

.footerLinks > div ul {
  margin: 0;
  padding: .1rem 1rem;
}

.footerLinks > div ul li {
  list-style-type: none;
  padding: .5rem .8rem;
  position: relative;
}

.footerLinks > div ul li:before {
  content: "\2727";
  color: #3AD880;
  padding-right: .5rem;
  position: absolute;
  left: -1.1rem;
}

.footer {
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  width: 100%;
}

.footer * {
  text-align: center;
  color: #eee;
}

.footer p i {
  padding: 0 .5rem;
  font-size: 1.8rem;
  color: #3AD880;
}
.rodop{
  padding: 0;
}

/* **************slider************ */
.areaSlaid {
  background: #fff;
  height: auto;
  padding: 0;
  margin: 0 auto;
}
.slider{
  height: 69vh;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  margin-bottom: .1rem;
}
.slider .slider-item{
  width: 100%;
}
.slider img{
  width: 100% !important;
  height: 69vh;
  padding: 0 !important;
  margin: 0 !important;
}
.pager{
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  z-index: 999;
  display: flex;
  width: 80%;
  justify-content: center;
  float: left;
}
.pager a{
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  background: transparent;
  margin: .2rem;
  border: 3px solid #fff;

}
.pager a.sliderAtivado{
  background: #fff;
}

/*  -------------------- Media Query ------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 655px) {
    .areaNotice{
      margin: 2rem !important;
    }
    .areaNotice .section{
      display: flex !important;
      flex-direction: column !important;
      height: auto !important;
    }
    .areaNotice .section .areaIMG, 
    .areaNotice .section .descrition
    {
      width: 100% !important; 
      margin-bottom: 5px;
    }
    .areaNotice .section .areaIMG img{
      width: 108% !important;
      height: auto !important;
    }
    .areaNotice .section .areaScale
    {
      width: 100% !important; 
    }
}