.top{
	background: url("../images/img8.jpg");
	background-color: rgba(0, 0, 0, 0.5);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
	height: 30vh;
}
.areaTop{
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.6);
	height: 30vh;
	flex-direction: column;

	.input-group{
		width: 40%;
	}
  	h1{
		text-align: center;
  		color: #fff;
  	}
}

.areaFind{
	padding: 2.5rem 0;
    background: #f1f1f7;
    border-bottom: 2px solid #eee;
    display: flex;
	align-items: center;
	box-shadow: 5px 2px 10px #ccc;

    >form{
    	display: flex;
		justify-content: center;
		flex-wrap: wrap;

		article{
			display: flex;
			align-items: center;
			width: auto;
			margin-left: 1rem;
			
			select, input{
				padding: 2rem 1rem;
			}
			label{
				padding: .5rem;
				color: #444;
				width: auto;
				font-size: 1.6rem;
			}
			select{
				width: 10vw;
			}
			input{
				width: 23vw;
			}
			button{
				margin-left: 1rem;
			}
		}
		
    }
}

.areaNewsDestaque{
		margin: 2rem 0;

		> section{
			margin: 1rem .5rem;
			justify-content: center;
			align-items: center;
			justify-content: flex-end;	
			padding-bottom: 2rem;	
			
			img{
				width: 100%;
			}

			section{
				padding: 1.5rem;
				border: 2px solid #eee;
				background: #fff;
				
				article{
					display: flex;
					justify-content: space-between;
				}
					p{
					// font-size: .85rem;
					font-weight: normal;
					line-height: 25px;
					text-align: left;
					color: #777;
				}
				section{
					width: 80%;
				}
				h4{
					// font-size: 1.1rem;
					color: #555;
					margin-top: 1rem;
				}
				label{
					padding: .5rem 1rem;
					text-transform: uppercase;
					background: #DA9A30;
					color:  #fff;
					cursor: pointer;
					font-size: 1rem;
				}
			}		
		}
}

.title{
		font-size: 2.5rem;
		color: #DA9A30;

		&:after{
			content:'';
			display: block;
			width: 4rem;
			padding-top: 5px;
			border-bottom: 3px solid #DA9A30;
		}
}

.news{
	padding-top: 2rem;
	.areaNewsDestaque{
		section section{
			background: #f7f6f1;
		}
	}

	.areaImprensa{

		>div{
			padding: 2rem 0; 

			img{
				width: 30vh;
			}

			article{
				margin: 1.5rem 0;
			}
		}
		
	}
}

.moreNews{
	padding: 2rem 0;
	background: #f7f3f6;
}

