.areaContent{
	background: #f1f1f1;
	padding: 3rem 0;
	.container{
		box-shadow: 1px 5px 20px 3px #bbb;
		padding: 2rem;
		background: #fff;
		// height: 80vh;
		article{
			margin-top: 3rem;
			p{
				line-height: 2.5rem;
			}
		}

		
	}

}